{% extends "base.html" %}

{% block title %}API Documentation{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Documentation de l'API Contraventions</h1>

        <h2 class="mb-3">Endpoints</h2>

        <div class="card mb-4">
            <div class="card-header">
                <code>GET /api/contrevenants?du=date_debut&au=date_fin</code>
            </div>
            <div class="card-body">
                <h4 class="card-title">Description</h4>
                <p class="card-text">Permet d'obtenir la liste des
                    contrevenants ayant commis au moins une infraction entre
                    deux dates spécifiées en paramètre.</p>
                <h4 class="card-title">Exemple de requête</h4>
                <pre><code>GET /api/contrevenants?du=2022-01-01&au=2022-12-31</code></pre>
                <h4 class="card-title">Exemple de réponse</h4>
                <pre><code>[
    {
        "etablissement": "786 HALAL RESTAURANT",
        "nb_contraventions": 1
    },
    {
        "etablissement": "8449 PROVIGO MONTREAL RACHEL",
        "nb_contraventions": 1
    }
]</code></pre>
            </div>
        </div>

        <!-- Ajoutez d'autres cartes pour les autres endpoints -->

    </div>
{% endblock %}
